*{
    margin: 0;
}
/* Навігація */
.navbar{
    background:#000000;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    position:sticky;
    top:0;
    z-index:1000;
    box-shadow:0 3px 10px rgba(0,0,0,.3);
}

.logo{
    color:#fff;
    font-size:28px;
    font-weight:bold;
}

.logo img{
    height: 70px;
filter: invert(1);
}

.menu{
    display:flex;
    gap:20px;
}

.menu a{
    color:white;
    text-decoration:none;
    padding:10px 18px;
    border-radius:8px;
    transition:.3s;
    font-weight:bold;
}

.menu a:hover{
    background:#145c44;
}

.menu a:active{
    background:#1d7a59;
}
.hero{
    height:85vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:
        linear-gradient(rgba(0,40,20,.7), rgba(0,20,10,.8)),
        url("https://images.unsplash.com/photo-1511512578047-dfb367046420?auto=format&fit=crop&w=1600&q=80");
    background-size:cover;
    background-position:center;
    color:white;
}

.hero-content{
    max-width:700px;
    padding:20px;
}

.hero h1{
    font-size:64px;
    margin-bottom:20px;
    color:#7CFC00;
    text-shadow:0 0 20px rgba(124,252,0,.5);
}

.hero p{
    font-size:22px;
    line-height:1.6;
    margin-bottom:35px;
    color:#eee;
}

.hero-buttons{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.btn{
    background:#0b8f3a;
    color:white;
    text-decoration:none;
    padding:15px 35px;
    border-radius:12px;
    font-size:18px;
    font-weight:bold;
    transition:.3s;
}

.btn:hover{
    background:#16b84d;
    transform:translateY(-4px);
    box-shadow:0 0 20px rgba(124,252,0,.5);
}

.btn-outline{
    background:transparent;
    border:2px solid #7CFC00;
}

.btn-outline:hover{
    background:#7CFC00;
    color:#0b3d2e;
}